{% extends 'base.html.twig' %}

{% block title %}supprimer une categorie{% endblock %}

{% block body %}
    <h1>{{ h1|raw }}</h1>

    {{ form(formulaire) }}

    <a href="{{ path("categories") }}"
       class="btn btn-success">
        OK</a>
{% endblock %}
